<% layout('layouts/boilerplate')%>
    <h1>Gift Items</h1>
    <a class="btn btn-success" href="/giftitems/new">New Item</a>
    <div class="row mt-3">
        <% for (let giftItem of giftItems) {%>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card mb-3">
                    <div class="row mb-3 text-center">
                        <div class="card-body m-2">
                            <h5 class="card-title">
                                <%= giftItem.name%>
                            </h5>
                            <p class="card-text">
                                Price: $ <%= giftItem.unit_price%> <br>
                                    In Stock: <%= giftItem.units_owned%><br>
                            </p>
                            <a class="btn btn-primary" href="/giftitems/<%=giftItem._id%>">View Item</a>

                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>