<% layout('layouts/boilerplate')%>
    <div>
        <h1>New Campaign</h1>
        <a href="/giftcampaigns">All Campaigns</a>
        <div>
            <form action="/giftcampaigns" method="POST">
                <div>
                    <label for="title">Name:</label>
                    <input type="text" name="giftCampaign[name]" id="name" required>
                </div>
                <div>
                    <label for="status">Status:</label>
                    <select id="status" name="giftCampaign[status]">
                        <option>Preparing</option>
                        <option>Ready</option>
                        <option>Dispatched</option>
                    </select>
                </div>
                <div>
                    <div>
                        <label for="dispatch_date">Dispatch Date:</label>
                        <input type="date" value="2020-06-01" name="giftCampaign[dispatch_date]" id="dispatch_date">
                    </div>
                    <div>
                        <label for="delivery_date">Delivery Date:</label>
                        <input type="date" value="2020-06-10" name="giftCampaign[delivery_date]" id="delivery_date">
                    </div>
                </div>
                <div>
                    <button>Add Campaign</button>
                </div>
            </form>
        </div>
    </div>