<% layout('layouts/boilerplate')%>
    <div class="col-4 offset-4">
        <h1 class="mb-3">Login</h1>
        <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="text" id="email" name="username" required>
            </div>
            <div class="mb-3">
                <label class="form-label" type="text">Password:</label>
                <input class="form-control" type="text" id="password" name="password" required>
            </div>
            <button class="btn btn-outline-success">Log In</button>
        </form>
    </div>